# # Q1 Concatenate dictionaries

In [1]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4 = {}
for d in (d1, d2, d3): d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Q2

In [2]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# Q3 Create an empty dictionary

In [3]:
d = {}

# Q4 Create a dictionary for roll no and student name

In [6]:
d = {1:"vaibhav",2:"vivek",3:"Ravi"}
print(d)

{1: 'vaibhav', 2: 'vivek', 3: 'Ravi'}

# Q5 create a dictionary with different data types in keys

In [7]:
d = {1:"key", 'a': "ritik", '$': "hello"}
print(d)

{1: 'key', 'a': 'ritik', '$': 'hello'}

# Q6 Print 3rd key

In [9]:
d = {1:"key", 'a': "ritik", '$': "hello"}
print(d['$'])

hello

# Q7 Adding an element to a dictionary

In [13]:
d["abc"]= "x1"
print(d)

{1: 'key', 'a': 'ritik', '$': 'hello', 'abc': 'x1'}

# Q8 Updating an element in a dictionary

In [24]:
#d["abc"] = "x2"
print(d)
print(d.items())

{'abc': 'x2'}
dict_items([('abc', 'x2')])

# Q9 Delete a dictionary

In [21]:
d1= {1:10,2:20}
d1.clear()
print(d1)

{}

# Q10 Print key value pairs in separate lines

In [26]:
d = {1:"vaibhav",2:"vivek",3:"Ravi"}
for key,value in d.items():
    print(key, value)

1 vaibhav
2 vivek
3 Ravi

In [28]:
# Q11 Concatenate dictionaries
d1 = {"A":1,"B":2}
d2 = {"C":3,"D":4}
d3  = {}

for items in (d1,d2):
    d3.update(items)
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [34]:
# Q12 Nested Dicionaries (Add tuple, Add list, Add dictionary)

d1 = {1:"A", 2:"B", 3:[11,12,13,14], 4:(15,16), 5:{'a':20,'b':30}}

print(d1[5]['a'])
print(d1.get(5).

20
None

In [43]:
# Q13 Table of 5

d=dict()
for key in range(1,11):
    d[key]=key*5
print(d)

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

In [44]:
# Q14 Square

d=dict()
for x in range(1,11):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [45]:
# Q15 value sum
sum =0
for key,value in d.items():
    sum = sum+ value
print(sum)

#print(d)

385
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [46]:
# Q16 factorial 

d=dict()
value =1
for key in range(1,11):
    
    value = value*key 
    
    d[key]= value
print(d)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800}